<article id="four" class="fullpage">
    <div class="bg"></div>
    <main class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="">Цены</h3>
                <h6 class="">Расчет чего-то</h6>
            </div>
        </div>
        <!-- calculate -->
        <div class="calculate">
            <div class="wrapper">
                <h2>Рассчитайте стоимость обслуживания компьютеров прямо сейчас</h2>
                <div class="calc row" >



                    <div class="result">

                        <div class="service stack">
                            <h3>Стоимость<br/> ИТ аутсорсинга <span class="fullprice price"></span></h3>
                            <ul class="column">
                                <li class="part yellow server"><span>Серверы <span class="price"></span></span></li>
                                <li class="part blue desktop"><span>Компьютеры <span class="price"></span></span></li>
                            </ul>
                        </div><!-- .service -->

                        <div class="specialist stack">
                            <h3>Штатный<br/> специалист <span class="fullprice price"></span></h3>
                            <ul class="column">
                                <li class="part gray due"><span>Налоги <span class="price"></span></span></li>
                                <li class="part yellow desk"><span>Рабочее место и соцпакет <span class="price"></span></span></li>
                                <li class="part blue salary"><span>Зарплата системного администратора <span class="price"></span></span></li>
                            </ul>
                        </div><!-- .specialist -->

                        <div class="footer">
                            <p class="profit"><i class="icon-money"></i> Выгода: <span class="price"></span><span class="noprofit">отсутствует</span></p>
                            <div class="profit-info">
                                <p><span>+</span>Возможность принять наши услуги к вычету из налога на прибыль</p>
                                <p><span>-</span>43% - экономия на взносах и уплате НДФЛ</p>
                            </div>
                            <p><a href=""><button class="btncalck btn-primary" type="button"><i class="icon-thumbs-up"></i> Попробовать бесплатно</button></a></p>
                        </div><!-- .footer -->

                    </div><!-- .result -->

                    <div class="param">

                        <div class="desktop slider">
                            <label for="desktop-count"><i class="icon-desktop"></i> <span>Количество модулей</span></label>
                            <input id="desktop-count" type="text" name="desktop" />
                        </div><!-- .desktop -->

                        <div class="server slider">
                            <label for="server-count"><i class="icon-server"></i> <span>Сложность тех.стека</span></label>
                            <input id="server-count" type="text" name="server" />
                        </div><!-- .server -->

                        <div class="tariff">
                            <h3><i class="icon-params"></i> <span>Тарифы</span></h3>
                            <ul>
                                <li id="t_ud">
                                    <label for="tariff-remote">Удаленный <i class="icon-help" data-hint=".tariff-remote-help"></i></label>
                                    <input type="radio" name="tariff" id="tariff-remote" value="remote" />
                                    <p class="tariff-remote-help help"><dfn>Тариф "Удаленный"</dfn>Удаленная диагностика и устранение неисправностей, консультации по телефону и электронной почте, фиксированное время прибытия инженера по льготному тарифу.</p>
                                </li>
                                <li id="t_st">
                                    <label for="tariff-standart">Стандартный <i class="icon-help" data-hint=".tariff-standart-help"></i></label>
                                    <input type="radio" name="tariff" id="tariff-standart" value="standart" checked/>
                                    <p class="tariff-standart-help help"><dfn>Тариф "Стандартный"</dfn>Включает в себя все услуги тарифа "Удаленный", плюс <em>2 (два)</em> включенных выезда инженера.</p>
                                </li>
                                <li id="t_unl">
                                    <label for="tariff-unlim">Безлимитный <i class="icon-help" data-hint=".tariff-unlim-help"></i></label>
                                    <input type="radio" name="tariff" id="tariff-unlim" value="unlim"/>
                                    <p class="tariff-unlim-help help"><dfn>Тариф "Безлимитный"</dfn>Включает в себя все услуги тарифа "Удаленный", плюс <em>неограниченное количество</em> выездов инженера.</p>
                                </li>
                            </ul>
                        </div><!-- .tariff -->

                        <p class="footer">
                            <a href="#" class="btncalck" style="text-transform: none;"><i class="icon-cd"></i> Скачать презентацию</a>
                            <a href="#" class="btncalck" style="text-transform: none;"><i class="icon-note"></i> Скачать договор</a>
                        </p><!-- .footer -->

                    </div><!-- .param -->



                </div><!-- .calc -->
            </div>

        </div>
        <!-- /calculate -->
    </main>
</article>