<article id="one" class="h100 fullpage">
    <div class="bg">
        <div class="s2"></div>
        <div class="d-none d-md-block col-md-4 iphone">
            <img src="img/iphoneX.png" alt="" class="iphone">
        </div>
        <div class="s1"></div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <button class="navbar-toggler bg-light navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#two">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#three">Опыт работы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#four">Цены</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#five">Контакты</a>
                    </li>
                </ul>
                <div class="my-2 my-lg-0">
                    <a class="nav-link" href="{{ path('admin') }}">Личный кабинет</a>
                </div>
            </div>
        </nav>
        <main class="row">
            <div class="col-12 col-md-8">
                <h3 class="w-75">Разработка мобильных приложений Android-AOSP</h3>
                <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст </p>
                <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст </p>
                <div class="link">
                    <a href="#" data-toggle="modal" data-target="#consultation" class="link">Заказать консультацию</a>
                </div>
            </div>
        </main>
    </div>
</article>