<article id="three">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url(img/work.jpg);">
                <div class="bg"></div>
                <div class="carousel-caption d-none d-md-block">
                    <div class="container">
                        <main class="row">
                            <div class="col-12 col-md-5">
                                <h3 class="">Опыт работы</h3>
                                <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст </p>
                                <div class="link">
                                    <a href="#" data-toggle="modal" data-target="#consultation" class="link">Заказать консультацию</a>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url(img/work.jpg);">
                <div class="bg"></div>
                <div class="carousel-caption d-none d-md-block">
                    <div class="container">
                        <main class="row">
                            <div class="col-12 col-md-5">
                                <h3 class="">Опыт работы</h3>
                                <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст </p>
                                <div class="link">
                                    <a href="#" data-toggle="modal" data-target="#consultation" class="link">Заказать консультацию</a>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url(img/work.jpg);">
                <div class="bg"></div>
                <div class="carousel-caption d-none d-md-block">
                    <div class="container">
                        <main class="row">
                            <div class="col-12 col-md-5">
                                <h3 class="">Опыт работы</h3>
                                <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст </p>
                                <div class="link">
                                    <a href="#" data-toggle="modal" data-target="#consultation" class="link">Заказать консультацию</a>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</article>