<article id="two" class="h100 fullpage">
    <div class="bg"></div>
    <div class="container">
        <main class="row">
            <div class="col-12 col-md-7">
                <h3 class="">Услуги</h3>
                <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст </p>
                <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст </p>
                <div class="link">
                    <a href="#" data-toggle="modal" data-target="#consultation" class="link">Заказать консультацию</a>
                </div>
            </div>
        </main>
    </div>
</article>